@media only screen and (min-width: 64em) {
    /*Weather and forecast*/
    .current-info {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .weather-container {
        padding: 20px 150px;
        height: 40vh;
    }
    .weather-container {
        height: 40vh;
    }
    .future-forecast .today .temp {
        font-size: 15px;
        padding-top: 15px;
    }
    .future-forecast .weather-forecast .weather-forecast-item {
        font-size: 13px;
    }
    .future-forecast .weather-forecast {
        display: flex;
        font-size: 15px;
    }
    /*Call to action banner*/
    .call-button:hover {
        color: #EB5E28;
        box-shadow: 0 0 15px #EB5E28;
        text-shadow: 0 0 15px #EB5E28;
    }
    /*Temple banner for homepage*/
    /*Reservation form*/
    .reserve-page {
        display: block;
    }
    form .button input:hover {
        background: linear-gradient(135deg, #CCC5B9, #EB5E28);
    }
    .temple-container {
        grid-template-columns: 1fr;
    }
    .temple-card {
        height: 45em;
    }
    .services-card {
        height: 25em;
    }
    .services-container {
        display: grid;
        gap: 40px;
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: minmax(100px, auto);
        grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
        margin-bottom: 5rem;
        margin-top: -10rem;
    }
    .link-icons li a img {
        width: 50px;
        height: 50px;
    }
    main {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }
    /*find temple*/
    .cards header {
        text-align: center;
    }
    .cards img {
        border: 5px solid black;
        width: 80%;
        height: auto;
        margin-top: 1rem;
    }
    article,
    .cards a {
        text-align: center;
        padding: 1rem;
        display: flex;
        font-size: 12px;
    }
    .cards section {
        background-color: #CCC5B9;
        border: 2px solid black;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin: 0;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
        transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
        cursor: pointer;
        border-radius: 2rem;
    }
    .cards section p {
        font-size: 15px;
    }
    .cards section:hover {
        box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    }
    .cards {
        display: grid;
        gap: 10px;
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: minmax(100px, auto);
        grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
        border-radius: 1rem;
    }
    .menu {
        margin: 1rem auto;
        border: 1px solid rgba(0, 0, 0, 0.1);
        padding: 0.5rem;
        background-color: #24292b;
        text-align: center;
    }
    .menu button {
        padding: 1rem;
        align-content: center;
    }
    .logo {
        background-color: #EB5E28;
    }
}